# dependencies
/node_modules

# next.js
/.next/
/out/

# deployment
/.vercel

# local environment files
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
